<!-- Tarjeta Autor -->
<div class="row p-1 mb-2 bg-light border shadow-sm rounded">
    <!-- Autor -->
    <div class="col-12">
        <h1 class="mb-3">Arkaitz Marcos</h1>
        <hr>
    </div> <!-- End Autor -->

    <!-- Picture -->
    <div class="col-3">
        <section class="panel">
            <div class="panel-body" align="center">
                <img src="../resources/img/amg.jpg" class="rounded-circle" alt="Imagen Autor" width="150px"
                    height="150px">
            </div>
        </section>
    </div> <!-- End Picture -->

    <!-- Bio -->
    <div class="col-9">
        <section class="panel">
            <div class="panel-body">
                <p><strong>Ocupación:</strong> Graduado en Ingeniería Informática de Gestión y Sistemas de la
                    Información</p>
                <p><strong>Edad:</strong> 28 años</p>
                <p>
                    <strong>Bio:</strong>
                    Saludos, mi nombre es Arkaitz Marcos, y este es un proyecto de AngularJS con la libreria de
                    UI-Routing
                    y desarrollado en TypeScript con la colaboracion de varios compañeros tras una ardua
                    formación
                    en la tecnología en cuestión.
                </p>
                <p>
                    <strong>Agradecimientos </strong> a Jon Antolín, Borja García y Eder Ibáñez
                </p>
            </div>
        </section>
    </div> <!-- End Bio -->
</div> <!-- End Tarjeta Autor -->

<hr>

<!-- README -->
<div ng-include="'views/readme.html'"></div>