<h1>Home</h1>
<hr>

<p class="text-g"> TODO:
1.- LibrosController metodo guardar
2.- Cargar Formatos dinamicamente
</p>

<p class="text-g">
    En este proyecto utilizaremos <img src="../resources/img/angularjs.png" width="75" height="20" alt="AngularJS"> con la libreria de <strong>UI-Routing</strong>.
    A su vez aplicaremos nociones basicas de <img src="../resources/img/typescript.png" width="75" height="20" alt="TypeScript"> recibidas con la intencion de aprender
    y entender este lenguaje a la par que se simplifica la programacion en JavaScript gracias a ello.
</p>

<p class="text-g">
    La siguiente lista resume y enlaza los ejercicios realizados a lo largo de estos ultimos dias,
    como por ejemplo los ejercicios de <strong>Programación Funcional</strong>, <strong>CRUD</strong>s,
    Formularios, <strong>Peticiones HHTP</strong> a un <strong>Servicio REST</strong>, etc...
</p>

<ul class="list-group text-g">
    <li class="list-group-item">
        <a ui-sref="contratos">
            Contratos
        </a>
    </li>
    <li class="list-group-item">
        <a ui-sref="ejerciciosContratos">
            Ejercicios Contratos
        </a>
    </li>
    <li class="list-group-item">
        <a ui-sref="libros">
            Libros
        </a>
    </li>
    <li class="list-group-item">
        <a ui-sref="about">
            About
        </a>
    </li>
</ul>