<!-- NavBar -->
<nav class="navbar navbar-expand-lg navbar-light bg-light mb-2 border-bottom">
    <a class="navbar-brand" href="#">
        <img src="../resources/img/A.png" width="50" height="50" alt="AngularJS" class="mr-1">
        <img src="../resources/img/ts.png" width="40" height="40" alt="TypeScript">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse text-g" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" ui-sref="home" ui-sref-active="active">
                    <i class="fas fa-home mr-1"></i> Home
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" ui-sref="contratos" ui-sref-active="active">
                    <i class="fas fa-file-contract mr-1"></i> Contratos
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" ui-sref="libros" ui-sref-active="active">
                    <i class="fas fa-book-open mr-1"></i> Libros
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" ui-sref="about" ui-sref-active="active">
                    <i class="fab fa-creative-commons mr-1"></i> About
                </a>
            </li>
        </ul>
        <a class="nav-text mr-5 nodeco" href="https://github.com/MAGDX/YoutubeAngularJS/" target="_blank">
            <i class="fab fa-github mr-1"></i> GitHub
        </a>
    </div>
</nav>
<!-- End Navbar -->