<div id="readme" class="Box-body readme blob instapaper_body js-code-block-container">
    <article class="markdown-body entry-content p-3 p-md-6" itemprop="text">
        <h1>README: Proyecto AngularJS &amp; TypeScript</h1>
        <br>
        <h2>Introducción</h2>
        <p>En este proyecto utilizaremos <strong>AngularJS</strong> con la libreria de <strong>UI-Routing</strong>. A su
            vez aplicaremos nociones basicas de <strong>TypeScript</strong> recibidas con la intencion de entender este
            lenguaje a la par que se simplifica la programacion en <strong>JavaScript</strong> gracias a ello.</p>
        <p>La siguiente lista enlaza con los ejercicios realizados a lo largos de estos ultimos dias,como por ejemplo
            los ejercicios de <strong>Programación Funcional</strong>, <strong>CRUD</strong>s,
            <strong>Formularios</strong>, <strong>Peticiones HHTP</strong> a un <strong>Servicio REST</strong>, etc...
        </p>
        <h2>Prerequisitos</h2>
        <h3>Git</h3>
        <ul>
            <li>Necesitaremos <em>git</em> para poder gestionar las versiones de nuestro proyecto y crearnos un
                repositorio. Un buen lugar donde documentarnos para ello es <a href="https://git-scm.com/"
                    rel="nofollow">aqui</a>.</li>
            <li>Para aprender sobre cómo configurar y descargar git lo puedes hacer <a
                    href="https://help.github.com/articles/set-up-git">aqui</a>.</li>
        </ul>
        <h3>NPM y Node.js</h3>
        <ul>
            <li>Instalacion de <a href="https://nodejs.org/" rel="nofollow">Node.js</a>.</li>
            <li>Ejecutar el comando <code>npm i --save-dev json-server</code> para instalar las dependencias
                correspondientes al <em>json-server</em>.</li>
            <li>Ejecutar el comando <code>npm i --save-dev concurrently</code> para instalar las dependencias
                correspondientes a la libreria <em>concurrently</em>.</li>
            <li>Ejecutar en consola para instalar los modulos y se nos cree la carpeta node_modules: <code>npm
                    install</code>.</li>
            <li>Arrancar el servidor con el comando <code>npm start</code>.</li>
        </ul>
        <h2>Home</h2>
        <p>En la pagina inicial nos encontraremos una introducción al proyecto explicandonos la tecnologia asi como un
            resumen de los ejercicios realizamos.</p>
        <ul>
            <li><strong>Home</strong></li>
            <li><strong>Contratos</strong></li>
            <li><strong>Ejercicio Contratos</strong></li>
            <li><strong>Libros</strong></li>
            <li><strong>About</strong></li>
        </ul>
        <h2>Contratos</h2>
        <p>Aqui nos encontraremos un ejercicio el cual esta pensado para aplicar los conocimientos acerca de
            <strong>Programación Funcional</strong> (map, filter, reduce... entre otros).</p>
        <p>En estas dos tablas imprimimos tanto todos los contratos como los contratos mapeados según nuestros
            intereses. A su vez, también es posible la <strong>ordenación</strong> de los registros pulsando en las
            cabeceras de las tablas, o pulsando en el botón <em>Filtros</em> podemos <strong>filtrar</strong> por nombre
            en la caja de texto que se nos despliega.</p>
        <p>Por último, el botón <strong>Ejercicios</strong> situado a la derecha nos dirige a otra pagina en la cual hay
            varios enunciados de ejercicios con sus respectivos resultados y soluciones. Este botón nos dirige al mismo
            sitio que el enlace llamado <strong>Ejercicios Contratos</strong> situado en la pagina
            <strong>Home</strong>.</p>
        <h2>Libros</h2>
        <p>En esta página nos encontramos con un <strong>CRUD</strong> completo de libros el cual cargamos de un fichero
            <em>db.json</em> que contiene datos de libros representados como objetos en formato <em>JSON</em>. Como todo
            <strong>CRUD</strong>, podemos listar los libros, consultar su detalle, asi como modificar sus datos y
            eliminar/crear libros.</p>
        <p>Cada vez que realicemos alguna acción se nos notificara si ha sido correcta o incorrectamente ejecutada.</p>
        <h2>About</h2>
        <p>Por último, nos encontramos en la página donde se documenta este proyecto asi como se presenta una breve
            descripción del autor.</p>
        <h2>Documentación</h2>
        <p>Para más información de AngularJS: <a href="https://angularjs.org/"
                rel="nofollow">https://angularjs.org/</a>.</p>
        <p>Para más información de TypeScript: <a href="https://www.typescriptlang.org/"
                rel="nofollow">https://www.typescriptlang.org/</a>.</p>
        <p>Repositorio del proyecto en GitHub: <a
                href="https://github.com/MAGDX/YoutubeAngularJS/">https://github.com/MAGDX/YoutubeAngularJS/</a>.</p>
    </article>
</div>